input#quantity {
  text-align: right;
}

.portletCart {
  background: #29A2BF;
  border-radius: 5px;
  color: #29A2BF;
}

dl.portletCart dd.portletItem {
  padding: 0.7em 1em;
}

.portletCart table{
  width: 100%;
}

#go-to-cart a {
  color: white;
}

#article-count {
  background: white;
  border-radius: 10px;
  text-align: center;
}

section#order-flow {
  font-size: 120%;
}

section#order-flow,
section#order-flow a:link,
section#order-flow a:visited {
  border-bottom: none;
  color: #A7A7A7;
}

section#order-flow #current-step {
  color: #575757;
}

section.checkout-content {
  margin: 1em 0;
  width: 90%;
}

section#cart-articles {
  border-bottom: 2px #cccccc solid;
}

section#cart-articles table,
section#cart-total,
section#confirmation-total {
  width: 100%;
}

section#cart-articles table
 {
  margin: 0;
}

section#cart-articles tr {
  border-bottom: 2px #cccccc solid;
}

section#cart-articles td {
  padding: 1em 0;
}

section#cart-articles td.name {
  padding: 1em 0.3em 1em 0.7em;
}

section#cart-articles td.name h3 {
  font-weight: normal;
  margin: 0.1em 0;
}

section#cart-articles td.name h3 a {
  color: #575757;
}

section#cart-articles td.name p{
  margin: 0;
}

td.price-and-quantity,
section#cart-total,
section#confirmation-total,
section#checkout {
  text-align: right;
}

.gross,
section#cart-total,
section#confirmation-total {
  font-size: 150%;
}

.gross,
#total {
  color: #CA2464;
}

.vat {
  color: #A7A7A7;
  font-size: 80%;
}

section.buttons {
  margin: 0.3em 0 0 0;
}

.shopping-button {
  padding: 0.3em 0.5em;
}

.update, .remove, .checkout, .clear {
  border: 0;
  border-radius: 5px;
  color: white;
}

.update, .remove, .checkout {
  background: #CA2464;
}

.checkout, .clear {
  padding: 0.5em 0.7em;
}

.clear {
  background: #989898;
}

section#cart-total {
  margin: 1em 0;
}

section#checkout {
  margin: 3em 0;
}

p#cart-is-empty {
  color: #A7A7A7;
  font-size: 150%;
  margin: 5em 0;
  text-align: center;
}

section#shipping-method {
  margin: 2em 0 ;
  border-bottom: 4px solid #666666;
}

section#shipping-method table{
  width: 100%;
}

section#slt-theme-top-articles article,
section#collective-cart-shopping-article-container-articles article {
  float: left;
  position: relative;
}
section#slt-theme-top-articles article {
  margin: 0 5% 5% 0;
  width: 45%;
}
section#collective-cart-shopping-article-container-articles article {
  margin: 0 3% 3% 0;
  width: 30%;
}

section#slt-theme-top-articles article img,
section#collective-cart-shopping-article-container-articles article img,
section#collective-cart-shopping-article section#articles td#representative-image img {
  width: 100%;
}
section#slt-theme-top-articles article div.text,
section#collective-cart-shopping-article-container-articles article div.text {
  background: rgba(71, 71, 71, 0.9);
  bottom: 0em;
  position: absolute;
  width: 100%;
}
section#slt-theme-top-articles article.discount div.discount,
section#collective-cart-shopping-article-container-articles article.discount div.discount
{
  border-radius: 0 0 0 5px;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 0.5em 1em;
  position: absolute;
  right: 0em;
  top: 0em;
}
section#slt-theme-top-articles article.discount div.discount,
section#slt-theme-top-articles article.discount div.text,
section#collective-cart-shopping-article-container-articles article.discount div.discount,
section#collective-cart-shopping-article-container-articles article.discount div.text {
  background: rgba(208, 51, 115, 0.9);
}
section#slt-theme-top-articles article.discount div.discount,
section#slt-theme-top-articles article div.text a,
section#collective-cart-shopping-article-container-articles article.discount div.discount,
section#collective-cart-shopping-article-container-articles article div.text a {
  border-bottom: none;
  color: white;
}
section#slt-theme-top-articles article div.text h1,
section#collective-cart-shopping-article-container-articles article div.text h1 {
  margin-top: 0;
  letter-spacing: 0;
  line-height: 1.2em;
}
section#slt-theme-top-articles article div.text h1 {
  font-size: 1.2em;
  margin: 0.3em 20px 0;
  text-transform: uppercase;
}
section#collective-cart-shopping-article-container-articles article div.text h1 {
  font-size: 1.1em;
  margin: 0.5em 15px 0;
}
section#slt-theme-top-articles article div.text p,
section#collective-cart-shopping-article-container-articles article div.text p {
  margin-bottom: 0;
  line-height: 1.1em;
}
section#slt-theme-top-articles article div.text p {
  margin: 0 20px 0.5em;
}
section#collective-cart-shopping-article-container-articles article div.text p {
  font-size: 1.3em;
  margin: 0 15px 0.5em;
}
section#collective-cart-shopping-article-container-articles article div.text p span.original-money {
  color: #a9a9a9;
  font-size: 0.8em;
  margin: 0 1em;
  text-decoration: line-through;
}

/*Article*/
section#collective-cart-shopping-article table {
  width: 100%;
}

section#collective-cart-shopping-article td {
  vertical-align: top;
}
section#collective-cart-shopping-article td#information {
  color: #666666;
  padding: 0 1em;
  width: 55%;
}
section#collective-cart-shopping-article td#information section#money p,
section#collective-cart-shopping-article td#information section#discount p{
  margin: 0;
}
section#collective-cart-shopping-article td#information section#money {
  float: left;
  margin: 0 2em 0 0;
}
section#collective-cart-shopping-article td#information section#discount p{
  font-size: 0.8em;
  line-height: 1.1em;
}
section#collective-cart-shopping-article td#information section#discount p#normal-price{
  text-decoration: line-through;
}

td#article-images {
  width: 45%;
}

#image_wrap {
  opacity: 1;
  width: 100%;
}
#image_wrap img{
  width: 100%;
}

.scrollable {
  margin: 1em 0 0;
  width: 100%;
}
.scrollable img {
  width: 30%;
  margin: 0 0 0 3%;
}
.scrollable .active {
  display: none;
}

section#collective-cart-shopping-article section#articles td#representative-image {
  width: 15%;
}
