button {
    cursor: pointer;
}

/* Logo */
#portal-logo img {
    margin: 0.7em 0 0;
}

/* portal status message */
dl.portalMessage {
    border-radius: 5px;
}
dl.portalMessage dt {
    background-color: #CA2464;
}
#login-forgotten-password strong,
#login-new-user strong {
    display: none;
}
/* content */
#content {
    width: 90%;
}
#content .documentDescription, #content #description {
    font: normal 1em "Helvetica Neue",Arial,FreeSans,sans-serif;
}
/* footer */
#portal-footer-wrapper a:hover {
    color: #0084A7;
}
