#collective-cart-shopping td {
  vertical-align: top;
}

#collective-cart-shopping button {
  cursor: pointer;
}

#collective-cart-shopping section.description,
#collective-cart-shopping section.text {
  margin: 2em 0em 2em 0;
}

input#quantity {
  text-align: right;
}
dl.portletMember dd.portletItem{
  padding: 0;
}
.portletMember li,
.portletCart {
  background: #29A2BF;
  border-radius: 5px;
}
.portletMember li,
dl.portletCart dd.portletItem {
  padding: 0.7em 1em;
}
.portletCart table{
  width: 100%;
}
.portletMember li a:link,
.portletMember li a:visited,
#go-to-cart a {
  color: white;
  border: none;
}

#article-count {
  background: white;
  border-radius: 10px;
  color: #29A2BF;
  text-align: center;
}

section#order-flow {
  font-size: 120%;
}

section#order-flow,
section#order-flow a:link,
section#order-flow a:visited {
  border-bottom: none;
  color: #A7A7A7;
}

section#order-flow #current-step {
  color: #575757;
}

section.checkout-content {
  margin: 1em 0;
  width: 90%;
}

section#cart-articles {
  border-bottom: 2px #cccccc solid;
}

section#articles-in-article table,
section#cart-articles table,
section#cart-total,
section#confirmation-total {
  width: 100%;
}

section#articles-in-article table,
section#cart-articles table
 {
  margin: 0;
}

section#articles-in-article tr,
section#cart-articles tr {
  border-bottom: 2px #cccccc solid;
}

section#articles-in-article td,
section#cart-articles td {
  padding: 1em 0;
}

section#articles-in-article td.name,
section#cart-articles td.name {
  padding: 1em 0.3em 1em 0.7em;
}
section#articles-in-article td.name h3,
section#cart-articles td.name h3 {
  font-weight: normal;
  margin: 0.1em 0;
}
section#articles-in-article td.name h3 a,
section#cart-articles td.name h3 a {
  color: #575757;
}
section#articles-in-article td.name p,
section#cart-articles td.name p {
  margin: 0;
}

section#cart-total,
section#confirmation-total,
section#checkout {
  text-align: right;
}

.gross,
section#cart-total,
section#confirmation-total {
  font-size: 150%;
}

.gross,
#total {
  color: #CA2464;
}

.vat {
  color: #A7A7A7;
  font-size: 80%;
}

.buttons {
  margin: 0.3em 0 0 0;
}

.shopping-button, #form-buttons-update {
  padding: 0.3em 0.5em;
}

.update, .remove, .checkout, .clear, .back, #form-buttons-update {
  border: 0;
  border-radius: 5px;
  color: white;
}

.update, .remove, .checkout, #form-buttons-update {
  background: #CA2464;
}

.checkout, .clear, .back {
  padding: 0.5em 0.7em;
}
.back,
.clear {
  background: #989898;
}

section#cart-total {
  margin: 1em 0;
}

section#checkout {
  margin: 3em 0;
}

p#cart-is-empty {
  color: #A7A7A7;
  font-size: 150%;
  margin: 5em 0;
  text-align: center;
}

section#shipping-method {
  margin: 2em 0 ;
  border-bottom: 4px solid #666666;
}

section#shipping-method table{
  width: 100%;
}

section#slt-theme-top-articles article,
section#collective-cart-shopping-article-container-articles article {
  float: left;
  position: relative;
}
section#slt-theme-top-articles article {
  margin: 0 5% 5% 0;
  width: 45%;
}
section#collective-cart-shopping-article-container-articles article {
  margin: 0 3% 3% 0;
  width: 30%;
}
section#articles-in-article td.image,
section#cart-articles td.image,
td.price-and-quantity {
  width: 20%;
}

section#slt-theme-top-articles article img,
section#collective-cart-shopping-article-container-articles article img,
section#articles-in-article td img,
section#cart-articles td img {
  width: 100%;
}
section#slt-theme-top-articles article div.text,
section#collective-cart-shopping-article-container-articles article div.text {
  background: rgba(71, 71, 71, 0.9);
  bottom: 0em;
  position: absolute;
  width: 100%;
}
section#slt-theme-top-articles article.discount div.discount,
section#collective-cart-shopping-article-container-articles article.discount div.discount
{
  border-radius: 0 0 0 5px;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 0.5em 1em;
  position: absolute;
  right: 0em;
  top: 0em;
}
section#slt-theme-top-articles article.discount div.discount,
section#slt-theme-top-articles article.discount div.text,
section#collective-cart-shopping-article-container-articles article.discount div.discount,
section#collective-cart-shopping-article-container-articles article.discount div.text {
  background: rgba(208, 51, 115, 0.9);
}
section#slt-theme-top-articles article.discount div.discount,
section#slt-theme-top-articles article div.text a,
section#collective-cart-shopping-article-container-articles article.discount div.discount,
section#collective-cart-shopping-article-container-articles article div.text a {
  border-bottom: none;
  color: white;
}
section#slt-theme-top-articles article div.text span.feed-order a {
  color: #0081A3;
}
section#slt-theme-top-articles article div.text h1,
section#collective-cart-shopping-article-container-articles article div.text h1 {
  margin-top: 0;
  letter-spacing: 0;
  line-height: 1.2em;
}
section#slt-theme-top-articles article div.text {
  padding: 0 0 0.5em;
}

section#slt-theme-top-articles article div.text h1 {
  font-size: 1.2em;
  margin: 0.3em 20px 0;
  text-transform: uppercase;
}
section#collective-cart-shopping-article-container-articles article div.text h1 {
  font-size: 1.1em;
  margin: 0.5em 15px 0;
}
section#slt-theme-top-articles article div.text p,
section#collective-cart-shopping-article-container-articles article div.text p {
  margin-bottom: 0;
  line-height: 1.1em;
}
section#slt-theme-top-articles article div.text p {
  margin: 0 20px;
}
section#collective-cart-shopping-article-container-articles article div.text p {
  font-size: 1.3em;
  margin: 0 15px 0.5em;
}
section#collective-cart-shopping-article-container-articles article div.text p span.original-money {
  color: #a9a9a9;
  font-size: 0.8em;
  margin: 0 1em;
  text-decoration: line-through;
}

/*Article*/
.portaltype-collective-cart-core-article #content h1.documentFirstHeading {
  color: #333333;
  font-size: 1.8em;
  font-weight: normal;
}
.portaltype-collective-cart-core-article #content .documentDescription {
  margin: 0 0 0.5em;
}
section#add-to-cart span.stock {
  display: block;
  margin: 0.5em 0;
}
section#add-to-cart section#money {
  margin: 0.1em 0;
}
section#add-to-cart section#price {
  margin: 0.1em 0;
}
section#add-to-cart section#quantity,
section#add-subarticle-to-cart section#quantity {
  margin: 0.5em 0;
}

section#vat {
  color: #A7A7A7;
  font-size: 85%;
}

section#add-subarticle-to-cart button {
  display: block;
  margin: 0.3em 0 0;
}


section#articles-in-article table {
  width: 100%;
}

section#discount p{
  margin: 0;
}
#normal-price{
  text-decoration: line-through;
}

#image_wrap {
  opacity: 1;
  width: 100%;
}
#image_wrap img{
  width: 100%;
}

.scrollable {
  margin: 1em 0 0;
  width: 100%;
}
.scrollable img {
  width: 30%;
  margin: 0 0 0 2%;
}
.scrollable .active {
  display: none;
}

/* Member Area */
.portaltype-slt-content-memberarea .contentActions,
.portaltype-collective-cart-shopping-customerinfo .contentActions {
  display: none;
}

#terms {
  height: 10em;
  overflow-y: scroll;
}

section#shipping-method-form #formfield-form-widgets-shipping_method,
section#shipping-method-form .formControls {
  display: inline;
}

/** billing-and-shipping **/
section#customer-info dt,
section#customer-info dd {
  display: inline-block;
}
section#customer-info dt {
  font-size: 110%;
  font-weight: normal;
  width: 17%;
}
section#customer-info dd {
  margin: 0;
  width: 30%;
}
dl.field span.required:after {
    color: #CA2464;
    content: "*";
}
section#customer-info dd input {
  height: 1.8em;
  padding: 0 0.5em;
  width: 100%;
}
section#customer-info dd input[type="radio"] {
  height: 1em;
  width: auto;
}
section#customer-info p span {
  margin: 0 0.5em;
}
section#customer-info dl.shipping-methods dt {
  vertical-align: top;
}
section#customer-info dl.shipping-methods dd {
  width: 80%;
}
section#customer-info p#billing-and-shipping-same-or-different span {
  font-size: 100%;
  margin: 0;
}
section#customer-info p#billing-and-shipping-same-or-different select {
  font-size: 80%;
}

/* Please log in */
section.please-login p a {
  background-color:  #E3E3E3;
  border-radius: 5px;
  padding: 0.5em;
}

/* Registration Number */
dl#registration-number dt{
  display: inline-block;
}
dl#registration-number dd{
  display: inline-block;
}


@media screen and (max-width: 900px) {
  .text p {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  section#slt-theme-top-articles article {
    float: none;
    width: 100%;
  }
}